.calendar-container{
    display: flex;
}
.calendar{
    margin:  auto;
}
.calendar-table{
    height: 500px;
    width: 500px;
    margin:10px;
    border-collapse: collapse;
}

td,th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
.green{
    background-color: greenyellow;
}
.red{
    background-color: red;
}
.grey{
    background-color: grey;
}