.container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}

.form-container{
  margin: auto;
  width: auto;
  padding: 10px;
}
.table-container{
  padding: 10px;
}

input,select,fieldset{
  margin: 10px;
}

table{
  width:100%;
}
td{
  text-align : center;
  padding: 5px;
}
.error{
  color: red;
}